body {
    background: #599fd9;
    background: -webkit-linear-gradient(to right, #599fd9, #c2e59c);
    background: linear-gradient(to right, #599fd9, #c2e59c);
}

.box-shadow {
    -webkit-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.4);
    box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.4);
}

/* Start of Navigation styling */

.activenav {
    background-color: #4CAF50;
}

.activenav > a {
    color: white;
}

.nav-link:hover {
    color: white;
}

.navbar-dark .navbar-light .navbar-nav .nav-link {
    color: black;
}

.nav-item:hover:not(.active) {
    color: white;
    background-color: #555;
}

.navbar-dark .navbar-light .navbar-nav .nav-link:hover:not(.active),
.navbar-dark .navbar-light .navbar-nav .nav-link:focus:not(.active), 
.navbar-dark .navbar-light .navbar-nav .nav-link:active:not(.active) {
  color:#ffffff
}
/* End of Navigation styling */

canvas {
    width: 100%;
    height: auto;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }